
<!-- Applying the layots -->
     <%- include('header'); -%>

    <!--  <%# Method:1 #%>
<%#  <!--  <!-- <%= %> are used in ejs to enclose HTML --> 
<!-- <% %> tags are used in ejs to enclose logic based JavaScript--> 

<%  if (kindOfDay=== "Saturday" || kindOfDay=== "Sunday"){ %>
    <h1 style="color:deeppink">Today is <%= kindOfDay %></h1>
   <%  }else{ %>
    <h1 style="color:dodgerblue">Today is <%= kindOfDay %></h1>
   <%   }  %> --> #%> -->
    
   <%# Method:2 #%>

<h1> <%= listTitle %>  </h1>

<ul>
<% for (let i=0; i < newListItems.length; i++) { %>
   <li> <%= newListItems[i] %> </li>
<% } %>
</ul>

<form action="/" method="post">
    Input &nbsp; <input type="text" value="Enter the items to Add" name="input">
    <input type="submit" value="<%= listTitle %> " name="submit">
    </form>

    <!-- Applying the layouts -->
    <%- include('footer'); -%>
